<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="icon" href="{% static 'images/Antonio Leskur logo.svg' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container header-container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img src="{% static 'images/Antonio Leskur logo.svg' %}" alt="navbar logo" height="70">
            </a>
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary" id="nav-link_1">Home</a></li>
            <li><a href="{% url 'about' %}" class="nav-link px-2" id="nav-link_2">About</a></li>
            <li><a href="{% url 'work' %}" class="nav-link px-2" id="nav-link_3">Work</a></li>
            <li><a href="{% url 'contact' %}" class="nav-link px-2" id="nav-link_1">Contact</a></li>
          </ul>

        </header>
      </div>




    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Antonio Leskur</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/antonio-leskur-250a87283/" target="_blank" rel="noopener noreferrer"><img src="{%static 'images/linkedin.svg'%}" alt="linkedin icon" class="icon-size"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://github.com/AntonioLeskur" target="_blank" rel="noopener noreferrer"><img src="{%static 'images/github.svg'%}" alt="GitHub icon" class="icon-size"></a></li>
          </ul>
        </footer>
      </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </footer>
</body>
</html>