{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}

<div class="my-0 jumbotron-bg-1" id="about_me">
<div class="p-5 text-center bg-body-tertiary">
    <div class="container-fluid py-5">
    <h1 class="text-body-emphasis">Who am I?</h1>
    <p class="col-lg-8 mx-auto lead">
        I'm Antonio Leskur, a highly motivated and passionate Python developer eagerly seeking my first professional opportunity.
        With a diverse background in hospitality, tourism, and sales, I bring a unique perspective to problem-solving and software development.
    </p>
    </div>
</div>
</div>


<div class="my-0 jumbotron-bg-2" id="about_me">
    <div class="p-5 text-center bg-body-tertiary ">
        <div class="container-fluid py-5">
        <h1 class="text-body-emphasis">Why I love what I do</h1>
        <p class="col-lg-8 mx-auto lead">
            Programming allows me to combine my creativity with analytical thinking. I'm thrilled by the possibility of creating solutions that can positively impact businesses and people's lives. Transitioning into the world of software development two years ago was challenging but an incredibly fulfilling step in my career.
        </p>
        </div>
    </div>
    </div>


<div class="my-0 jumbotron-bg-3" id="about_me">
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container-fluid py-5">
        <h1 class="text-body-emphasis">Specialization</h1>
        <p class="col-lg-8 mx-auto lead">
            I focus on developing web applications using Python, with an emphasis on Flask and Django frameworks. My areas of interest also include working with databases (SQL, PostgreSQL), RESTful APIs, and front-end technologies (HTML, CSS).
        </p>
        </div>
    </div>
    </div>
    
    
    <div class="my-0 jumbotron-bg-4" id="about_me">
        <div class="p-5 text-center bg-body-tertiary ">
            <div class="container-fluid py-5">
            <h1 class="text-body-emphasis">Goals and ambitions</h1>
            <p class="col-lg-8 mx-auto lead">
                
            Deepening my knowledge in Python, focusing on advanced concepts in Flask and Django. <br>
            Actively participating in open-source projects to contribute to the community and learn from experienced developers.<br>
            Perfecting my skills in RESTful API development.<br>
            Continuously learning new technologies and staying up-to-date with industry trends.<br>
            Developing complex web applications that solve real business challenges.<br>
                
            </p>
            </div>
            <button class="btn btn-primary" type="button"><a href="{% static 'files/Antonio_Leskur_CV.pdf' %}" download class="btn btn-primary">Download CV</a></button>
        </div>
        </div>
    

{% endblock %}