{% extends 'base.html' %}
{% load static %}
{% block title %}SKIF{% endblock %}
{% block content %}

<div class="container-fluid py-4">

    <div id="about_me" class="truth row justify-content-center align-items-center mb-4 bg-body-secondary text-center p-4">
        <div class="col-12 col-lg-6">
            <h1 class="display-4 fst-italic">The truth is out there!</h1>
            <p class="lead my-3">The universe is far too vast for us to be the only intelligent life. To believe otherwise is to underestimate its endless possibilities.</p>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center text-center my-4">
        <div class="col-12 col-md-8">
            <h2>Government Breaks Silence: Strange Encounters</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hXO_RwR1UA8?si=Pmqa73BwFDBJPBZl" allowfullscreen></iframe>
            </div>
            <p class="my-3">In 2021, the US government passed legislation mandating an official investigation into UFOs...</p>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center text-center my-4">
        <div class="col-12 col-md-8">
            <h2>The UFO Phenomenon 2021</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sm6AL5lA4Zc?si=_ms9hEp_vaL0kg44" allowfullscreen></iframe>
            </div>
            <p class="my-3">It is now beyond doubt that strange, anomalous objects filling our skies...</p>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center text-center my-4">
        <div class="col-12 col-md-8">
            <h2>Joe Rogan Experience #1315 - Bob Lazar & Jeremy Corbell</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BEWz4SXfyCQ?si=ORsymQGNOPBFiSQk" allowfullscreen></iframe>
            </div>
            <p class="my-3">Joe Rogan interviews Bob Lazar and Jeremy Corbell about UFOs and Area 51.</p>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center text-center my-4">
        <div class="col-12 col-md-8">
            <h2>Compilation: UFOs & Aliens (The Why Files)</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4XP_m5-ULnA?si=eOaxKl9TEHcFNWp6" allowfullscreen></iframe>
            </div>
            <p class="my-3">A compilation of UFO and alien sightings and theories.</p>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center">
        <div class="col-12 col-md-4 text-center">
            <form action="/users/logout/" method="POST" class="bg-light p-4 rounded shadow">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}
