{% extends 'base.html' %}
{% block title %}Work{% endblock %}
{% block content %}
{% load static %}

<a href="https://github.com/AntonioLeskur/antonio_leskur_portfolio.git" target="_blank" class="no-underline">
<div class="container work-section work-1" id="about_me">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 work-text">My portfolio. <span class="text-body-secondary">It'll blow your mind. :D </span></h2>
      <p class="lead">This repository contains my portfolio project, built using Django and Python. It showcases my work, skills, and projects in a clean and professional layout. The code is organized to demonstrate best practices and includes all necessary files for deployment.</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'images/Screenshot_portfolio.png' %}" alt="Description of the image" class="img-fluid">
    </div>
  </div>
</div>
</a>

<a href="https://github.com/AntonioLeskur/blube_selenium.git" target="_blank" class="no-underline">
<div class="container work-section work-2" id="about_me">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1 work-text">My Selenium work... <span class="text-body-secondary">See for yourself.</span></h2>
      <p class="lead">This repository contains a project where I automated the process of adding new products to a company's web shop using Selenium and Python. The script efficiently handles product data entry, streamlining the update process for the e-commerce platform. It showcases automation skills and integration with web-based forms.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'images/Screenshot_selenium.png' %}" alt="Description of the image" class="img-fluid">
    </div>
  </div>
</div>
</a>

<a href="https://github.com/AntonioLeskur/snake_python.git" target="_blank" class="no-underline">
<div class="container work-section work-1" id="about_me">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 work-text">Classic snake game. <span class="text-body-secondary">It'll not blow your mind.</span></h2>
      <p class="lead">
        This repository contains a classic Snake game developed using Python and Tkinter. The game features a simple graphical interface where players control a snake to collect food and grow in size. It demonstrates basic game development concepts and the use of the Tkinter library for building GUI applications.</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'images/Screenshot_snake.png' %}" alt="Description of the image" class="img-fluid">
    </div>
  </div>
</div>
</a>

<a href="https://github.com/AntonioLeskur/MyPlants_python.git" target="_blank" class="no-underline">
<div class="container work-section work-2" id="about_me">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1 work-text">My very first project on this earth.<span class="text-body-secondary"> Cool to me...</span></h2>
      <p class="lead">
        This repository contains my very first project, which features a list of plants in a greenhouse and a fictional system for regulating their resources. It simulates basic resource management, providing functionality to monitor and adjust the needs of each plant. The project demonstrates my early coding skills and problem-solving approach.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'images/Screenshot_myPlants.png' %}" alt="Description of the image" class="img-fluid">
    </div>
  </div>
</div>
</a>

<!-- Nastavite s istim obrascem za preostale dvije sekcije -->

{% endblock %}