body {
    background-color: #d9d9d9;
}

.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



.img-fluid {
    max-width: 100%;
    height: auto;
    width: 700px; /* Adjust the width as needed */
}


.nav-link {
    font-size: 35px;
    color: #FCFAEE;
}


#nav-link_1:hover {
    color: #384B70;
}

#nav-link_2:hover {
    color: #507687;
}

#nav-link_3:hover {
    color: #B8001F;
}

#nav-link_1, #nav-link_2, #nav-link_3, #about_me {
    font-family: 'Montserrat', sans-serif;
}

#my_photo {
    border-radius: 15%; /* Okrugli okvir */
    object-fit: cover; /* Zadržavanje proporcija slike unutar okvira */
}

.btn-primary{
    background-color: #B8001F;
    border: none;
}

.btn-primary:hover {
    background-color: #384B70;
}

